*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
}

nav{
    background-color: aqua;
    background-attachment: fixed;
    background-size: cover;
    width: 200px;
    height: 100vh;
    margin-right: auto;
    border-right: solid blue;
}

header > span {
    margin: 5px 0px 5px 10px;
    color: blue;
    cursor: pointer;
}
#close{
    margin: 3px 0px 0px 3px;
    color: red;
    cursor: pointer;

}
img{
    margin-left: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid blue;
}
ul{
    padding: 5px 0px 0px 20px;
    
}
ul > li {
    margin-top: 10px;
    text-decoration: none;
}
ul li > a {
    text-decoration: none;
    cursor: pointer;
}
main{
    background-attachment: fixed;
    background-color: blue;
    max-width: 100%;
    margin-top: -635px;
    margin-left: 200px;
    padding: 5px 0px 0px 10px;
}