*{
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: aqua;
    background-attachment: fixed;
    padding: 20px 5px 5px 10px;
    width: 150px;
    margin-right: auto;
    height: 100vh;
    border-right: solid blue;
}

a{
    
}