body{
    background-color: whitesmoke;
    padding: 45px;
}


header{
    font: bolder 12.5pt caption;
    color: blue;
    text-align: center;
}

.form{
    background-color: aqua;
    color: whitesmoke;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 50px 0px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);


}

a{
    font: bolder 10pt caption;
    color: blue;
}

label{
    margin-bottom: 5px;
    font: bolder 18pt caption;
    color: blue;
}

.emailsenha{
    background-attachment: fixed;
    text-align: center;
    border: none;
    padding: 14px;
    border-bottom: solid blue;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);

}
input{
    padding: 10px;
    margin: 5px;
}

#mais{
    background-color: blue;
    color: white;
    text-align: center;
    margin-right: 5px;
    padding-top: 10px;
    width: 40px;
    height: 35px;
    border-radius: 50% 0% 50% 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    cursor: pointer;

}
#mais:hover{
    transform: scaleX(4);
    transform: scaleY(1.5);
    transition: 0.5s;
}

.entrar{
    background-color: green;
    font: bolder 10pt caption;
    color: whitesmoke;
    border: solid blue;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin-left: 20px;
    border-radius: 25px 0px 25px 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
}
footer{
    margin: 10px;
    display: flex;
}

.footer{
    background-color: blue;
    color: whitesmoke;
    font: bolder 12pt caption;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.opcao{
    text-align: center;
    max-width: 250px;
    margin-right: auto;
    padding: 10px;
    border-radius: 30px 0px;
    box-shadow: 0px 0px 5px black;
}
.mais{
    background-color: aqua;
    font:bolder 12pt caption;
    color: blue;
    border: solid blue;
    border-radius: 15px 0px;
}


.material-icons{
}

